<h2>New word</h2>

<%= form_for @word do |f| %>
	
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <p>
    <%= f.label :entry %><br>
    <%= f.text_field :entry %>
  </p>
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
