<!DOCTYPE html>
<html>
<head>
  <title>LearnApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>	
<table>
<tr>
	<td>  Logged in as <%= current_user.email %> | </td>
	<td> <%= link_to "My words", controller: "words", action: "index" %> | </td>
	<td> Scores | </td>
	<td> <%= link_to "My profile", controller: "profile", action: "index" %>  | </td>
	<td>  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
	</td>
</tr>
</table>	
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<%= yield %>

</body>
</html>
