<!DOCTYPE html>
<html>
<head>
  <title>LearnApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<table>
<tr>
<% if user_signed_in? %>
	<td>  Logged in as <%= current_user.email %> | </td>
	<td> <%= link_to "Home", controller: "/main", action: "home" %> | </td>
	<td> <%= link_to "My words", controller: "words", action: "index" %> | </td>
	<td> Scores | </td>
	<td> <%= link_to "My profile", controller: "profile", action: "index" %> | </td>
	<td> <%= link_to "About LearnApp", controller: "/main", action: "about" %> | </td>
	<td>  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </td>	
<% else %>
    <td><%= link_to('Login', new_user_session_path)  %> | </td>
    <td> <%= link_to "Home", controller: "/main", action: "home" %> | </td>
    <td> <%= link_to "About LearnApp", controller: "/main", action: "about" %> </td>
<% end %>
</tr>
</table>
<%= yield %>

</body>
</html>
